---
const year = new Date().getFullYear();
---

<footer class="flex justify-center items-center gap-6 my-5">
  <span class="text-lg text-gray-400"
    >&copy; {year}
    <a
      href="https://linker-2.vercel.app/"
      target="_blank"
      class="text-lg font-medium transition-all ease-in-out duration-200 text-black dark:text-white hover:text-[#0096FF] dark:hover:text-[#0096FF]"
      >zperekoty</a
    > All Rights Reserved
  </span>
</footer>
